
.column div {
    display: flex;
    /* flex-direction:; */
    align-items: center;
}

.column div p {
    margin: 10px;
}

body{
    color: whitesmoke;
}
.row{

    display:flex;
    /* align-items: center; */
    justify-content: center;
    align-items: center;
    margin-left: 180px;
    transition: all 0.7 ease-in;
    
}

.column>img:hover{
    background-color: whitesmoke;
    color: black;
    transform: scale(1.04);
    border-radius: 25px;
    box-shadow: 5px 5px whitesmoke;
}

.column{
    padding-top: 30px;
    flex:33.33%
}

 